001-species_2_simulation.nb.html
002-Bayesian-inference-from-species-2-simulations.nb.html
outputs
004-bayes-inf-with-5K-samples.nb.html
005-kelp-rockfish-like-simulations.nb.html
007-kelp-rockfish-rushed-analyses.nb.html
